.entity-select-dialog #entity-embed-dialog-form .form-type-radio {
  display: block;
}
.entity-select-dialog #entity-embed-dialog-form .form-type-radio label:after {
  content: "";
}
.entity-select-dialog #entity-embed-dialog-form .radio input[type="radio"],
.entity-select-dialog #entity-embed-dialog-form .checkbox input[type="radio"] {
  margin-right: 5px;
}
.entity-select-dialog #entity-embed-dialog-form .input-group .select-wrapper:first-child .form-control:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.entity-select-dialog #entity-embed-dialog-form .form-item-attributes-data-entity-embed-display .input-group-addon {
  display: none;
}
.editor-image-dialog #editor-image-dialog-form .form-type-radio {
  display: block;
}
.editor-image-dialog #editor-image-dialog-form .form-type-radio label:after {
  content: "";
}
.editor-image-dialog #editor-image-dialog-form .radio input[type="radio"],
.editor-image-dialog #editor-image-dialog-form .checkbox input[type="radio"] {
  margin-right: 5px;
}
.editor-image-dialog #editor-image-dialog-form .input-group .select-wrapper:first-child .form-control:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.editor-image-dialog #editor-image-dialog-form .form-item-attributes-data-entity-embed-display .input-group-addon {
  display: none;
}
.cke_widget_wrapper .align-left {
  margin: 0 8px 8px 0;
}
.cke_widget_wrapper .align-left figcaption {
  text-align: center;
}
.cke_widget_wrapper .align-right {
  margin: 0 0 8px 8px;
}
.cke_widget_wrapper .align-right figcaption {
  text-align: center;
}
.cke_widget_wrapper .align-center figcaption {
  text-align: center;
}
body .form-wrapper.field--widget-entity-browser-entity-reference .entities-list .item-container {
  position: relative;
}
body .form-wrapper.field--widget-entity-browser-entity-reference .entities-list .item-container .field--name-name {
  display: none;
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  padding: 0.5em;
  margin: 0;
  background: #000;
  opacity: 1;
  font-size: 9px;
  color: #fff;
  word-break: break-all;
}
body .form-wrapper.field--widget-entity-browser-entity-reference .entities-list .item-container {
  text-align: center;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  background: #000;
}
body .form-wrapper.field--widget-entity-browser-entity-reference .entities-list .item-container:hover .field--name-name {
  display: block;
}
body .form-wrapper.field--widget-entity-browser-entity-reference .entities-list .item-container:hover input {
  display: block;
}
body .form-wrapper.field--widget-entity-browser-entity-reference .entities-list .item-container input {
  position: absolute;
  top: 0;
  display: none;
  font-size: 0;
  padding: 0;
  border: 0;
  width: 30px;
  height: 30px;
  margin: 5px;
  background: transparent;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;
}
body .form-wrapper.field--widget-entity-browser-entity-reference .entities-list .item-container input[id*="-edit-button"] {
  background-image: url("../images/pencil-square-o.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
  left: 0;
  right: auto;
  -webkit-filter: invert(100%) !important;
  filter: invert(100%) !important;
}
body .form-wrapper.field--widget-entity-browser-entity-reference .entities-list .item-container input[id*="-remove-button"] {
  background-image: url("../images/times-circle-o.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
  right: 0;
  left: auto;
  -webkit-filter: invert(75%) !important;
  filter: invert(75%) !important;
}
body .form-wrapper.field--widget-entity-browser-entity-reference .entities-list .item-container img.image-style-field-preview {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
[dir="rtl"] body .form-wrapper.field--widget-entity-browser-entity-reference .entities-list .item-container input[id*="-edit-button"] {
  left: auto;
  right: 0;
}
[dir="rtl"] body .form-wrapper.field--widget-entity-browser-entity-reference .entities-list .item-container input[id*="-remove-button"] {
  right: auto;
  left: 0;
}
.entity-embed-dialog-step--embed > .form-item-entity {
  float: right;
  text-align: center;
}
.entity-embed-dialog-step--embed > .form-item-entity .field--type-image img {
  width: 200px;
}
[dir="rtl"] .entity-embed-dialog-step--embed > .form-item-entity {
  float: left;
}
.entity-browser-form div#ief-dropzone-upload > div {
  border: 2px dashed rgba(107, 107, 107, 0.65);
  border-radius: 20px;
  padding: 15px;
  margin: 0 15px 15px 15px;
}
.entity-browser-form div#ief-dropzone-upload > div .image-widget-data {
  float: left;
  width: 70%;
}
a.entity-browser-handle.entity-browser-iframe {
  margin: 15px 0;
  padding: 15px;
  display: block;
  background: #0074bd;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  text-decoration: none;
}
a.entity-browser-handle.entity-browser-iframe:hover {
  text-decoration: none;
}
[dir="rtl"] form.media-image-edit-form > .field--type-image.field--widget-image-image > div > div > .image-widget > .image-preview {
  float: left;
}
form.media-image-edit-form > .field--type-image.field--widget-image-image > div > div > .image-widget > .image-preview {
  float: right;
}
form.media-image-edit-form > .field--type-image.field--widget-image-image > div > div > .image-widget > .image-widget-data {
  float: none;
}
form.media-image-edit-form > .field--type-image.field--widget-image-image > div > div > .image-widget > .image-widget-data > .file-size,
form.media-image-edit-form > .field--type-image.field--widget-image-image > div > div > label,
form.media-image-edit-form > .field--type-image.field--widget-image-image > div > div > .image-widget:after {
  display: none;
}
form.media-image-edit-form > .field--type-image.field--widget-image-image > div > div > .image-widget > .image-widget-data > .file {
  display: none;
  float: right;
}
[dir="rtl"] form.media-image-edit-form > .field--type-image.field--widget-image-image > div > div > .image-widget > .image-widget-data > .button {
  float: left;
  margin-left: 4%;
}
form.media-image-edit-form > .field--type-image.field--widget-image-image > div > div > .image-widget > .image-widget-data > .button {
  float: right;
  margin-right: 4%;
}